@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
 @*   <table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].DateAdded)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].Category)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].Publisher)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].PublishingDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].ISBNCode)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].Status)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Book[0].Borrower)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.Book)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PublishingDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ISBNCode)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Borrower)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>*@
            }
</div>
